testProjects/latest/Performance/src_generated/ws/PersonService/performance/client/schema2.xsd

<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:targetNamespace="http://performance/" xmlns:tns="http://performance/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://performance/">
  <xsd:element name="call" type="targetNamespace:call"></xsd:element>
  <xsd:element name="callResponse" type="targetNamespace:callResponse"></xsd:element>
  <xsd:complexType name="call">
    <xsd:sequence></xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="callResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="persons" type="targetNamespace:person"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="person">
    <xsd:complexContent>
      <xsd:extension base="targetNamespace:compositeObject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="firstName" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="lastName" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="compositeObject">
    <xsd:complexContent>
      <xsd:extension base="targetNamespace:nestedObject">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="nestedObject">
    <xsd:sequence></xsd:sequence>
  </xsd:complexType>
</xsd:schema>
